<div class="panel panel-danger error-container animated bounceIn" ng-show="saleState === getSaleErrorState()">
    <div class="panel-heading">
    <div class="panel-title">
        <h4>Errors</h4>
    </div>
</div>
    <div class="panel-body">
        <p class=text-danger">Please address the following issues:</p>
        <ul ng-bind-html="errorMsg"></ul>

        <button class="btn btn-danger" style="float: right" ng-click="closeError()">Close</button>
    </div>

</div>
