<div class="payment-container animated bounceInDown" ng-show="saleState === getSalePaymentState()">

    @components.panel(title = "Payment Options", table = false, animation = "none") {


    <div class="row" style="position: relative; min-height: 375px;">

        <div class="col-xs-6">

            <h4 class="text-info">Sale Summary</h4>
            <div class="payment-summary">
                <table class="table table-striped">
                    <tr>
                        <td><b>Sub Total</b></td>
                        <td>${{sale.totalExGst / 100 | number:2}}</td>
                    </tr>
                    <tr>
                        <td><b>GST</b></td>
                        <td>${{sale.gst / 100 | number:2}}</td>
                    </tr>
                    <tr>
                        <td><b><h4>Total</h4></b></td>
                        <td><b><h3 style="margin: 0"><span class="label label-success">${{sale.totalIncGst / 100 | number:2}}</span></h3></b></td>
                    </tr>

                </table>
                
            </div>


        </div>


        <div class="col-xs-6">

            <h4 class="text-info" ng-init="sale.paymentType = getCashPaymentType()">Select payment option</h4>
            <button class="btn btn-default btn-lg" ng-click="sale.paymentType = getCashPaymentType()" ng-class="{'btn-info' : sale.paymentType == getCashPaymentType()}"> Cash </button><span>&nbsp;&nbsp;or&nbsp;&nbsp;</span>
            <button class="btn btn-default btn-lg" ng-click="sale.paymentType = getCardPaymentType()" ng-class="{'btn-info' : sale.paymentType == getCardPaymentType()}"> Card </button><br/>

            <div class="payment-type-wrapper">

                @*CASH*@

                <form name="productForm" ng-submit="submitSale()" novalidate role="form" ng-show="sale.paymentType == getCashPaymentType()">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="amt-received">Cash Received</label>
                                <div class="input-group">
                                      <span class="input-group-addon">@components.icon("usd")</span>
                                      <input type="number" style="width: 100% !important; text-align: right;" min="0" step="0.01" class="form-control" ng-model="amountReceived" id="amt-received"/>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="amt-change">Change</label>
                                <div class="input-group">
                                      <span class="input-group-addon">@components.icon("usd")</span>
                                      <input type="text" class="form-control payment-form-control" value="{{amountReceived - (sale.totalIncGst / 100) | number:2}}" disabled id="amt-change"/>
                                </div>                                
                            </div>
                            <button type="submit" class="btn btn-success btn-lg">Accept Payment</button>
                        </div>
                    </div>
                </form>

                @*CARD*@
                <form name="productForm" ng-submit="submitSale()" novalidate role="form" ng-show="sale.paymentType == getCardPaymentType()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="card-types">Select account</label><br/>
                                <div id="card-types">

                                    <button class="btn btn-primary card-type col-xs-4" type="submit">CHQ @components.icon("chevron-down")</button>
                                    <button class="btn btn-success card-type col-xs-4" type="submit">SAV @components.icon("chevron-up")</button>
                                    <button class="btn btn-danger card-type col-xs-3" type="submit">CR @components.icon("stop")</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-xs-2" style="position: absolute; bottom: 4px; left: 4px;">
            <button class="btn btn-warning btn-lg" ng-click="saleState = getSaleEntryState()">Cancel Payment</button>
        </div>


    </div>

    }

</div>
