<!-- Products -->
<div class="col-md-5">
    @components.panel(title = "Products", table = false, animation = "fadeInLeft") {

    <div class="input-group">
        <input type="text" class="form-control" placeholder="product search..." ng-model="productSearch" ng-init="productSearch = ''">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="productSearch = ''">@components.icon("remove")</button>
                    </span>
    </div>
    <br/>
    <div ng-show="productSearch == ''" ng-init="selectedProductType = getQuantityProductType()">
        <span class="product-type col-xs-6" ng-class="{'product-type-selected': selectedProductType == getQuantityProductType()}" ng-click="selectedProductType = getQuantityProductType()">Quantity</span>
        <span class="product-type col-xs-6" ng-class="{'product-type-selected': selectedProductType == getWeightedProductType()}" ng-click="selectedProductType = getWeightedProductType()">Weighted</span>
    </div>

    <div class="product-list col-xs-12" height-to-bottom-less-val val="40">
        <div class="col-xs-6" ng-repeat="product in products | productSearch:productSearch | productFilter:selectedProductType:productSearch" ng-click="productSearch = ''">
            <div class="product" ng-click="addSaleItem(product)">
                <p>{{product.name}}</p>
                <p>{{product.priceInfo}}</p>
            </div>
        </div>
    </div>
    }
</div>
