<!-- Sale -->
<div class="col-md-7">
@components.panel(title = "Sale", table = false, animation = "fadeInRight") {

    <table class="table sale-info">
        <tr>
            <td>Employee:</td>
            <td>{{sale.employee.name}}</td>
            <td>Date:</td>
            <td>{{sale.createdAt.getDate()}}/{{sale.createdAt.getMonth() + 1}}/{{sale.createdAt.getFullYear()}}</td>
        </tr>
        <tr>
            <td>Customer:</td>
            <td colspan="3">
                <form ng-submit="searchForCustomer(customerSearch)">
                    <div class="input-group" ng-hide="sale.customer">
                        <input type="text" class="form-control" placeholder="customer..." ng-model="customerSearch" autofocus />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">@components.icon("search")</button>
                    </span>
                    </div>
                </form>
                <span class="alert-danger" ng-hide="sale.customer">{{customerSearchError}}</span>
                <h4 ng-show="sale.customer" style="margin: 7.5px 0 7.5px 0"><span class="label label-primary">{{sale.customer.name}}&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="sale.customer = ''"></span></span></h4>
            </td>
        </tr>
    </table>

    <div height-to-bottom-less-val val="175">
        <table class="products-table table table-striped table-hover" >
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="saleItem in sale.saleItems | productSaleFilter:getQuantityProductType()">
                    <td><a ng-click="removeSaleItem(saleItem)">@components.icon("remove")</a></td>
                    <td>{{saleItem.product.name}}</td>
                    <td>{{saleItem.product.priceInfo}}</td>
                    <td><input class="form-control" type="number" min="1" ng-model="saleItem.quantity"/></td>
                    <td class="align-right">${{(saleItem.product.pricePerItem * saleItem.quantity) / 100 | number:2}}</td>
                </tr>

                @*Weighted Products*@
                <tr ng-repeat="saleItem in sale.saleItems | productSaleFilter:getWeightedProductType()">
                    <td><a ng-click="removeSaleItem(saleItem)">@components.icon("remove")</a></td>
                    <td>{{saleItem.product.name}}</td>
                    <td>{{saleItem.product.priceInfo}}</td>
                    <td><input class="form-control" style="display: inline-block" type="number" min="0" step="0.1" ng-model="saleItem.weight"/> / kg</td>
                    <td class="align-right">${{(saleItem.product.centsPerKilo * saleItem.weight) / 100 | number:2}}</td>
                </tr>
                <tr ng-show="!sale.saleItems.length">
                    <td colspan="5">No products added to sale</td>
                </tr>
            </tbody>
        </table>
    </div>

    <table class="table total">
        <tr>
            <td><h3>Total (Ex GST):</h3></td>
            <td><h3>${{sale.totalExGst / 100 | number:2}}</h3></td>
        </tr>
    </table>
    <div class="sale-options">
        <button class="btn btn-warning btn-lg" ng-click="cancelSale()">Cancel Sale</button>
        <button class="btn btn-success btn-lg" ng-click="acceptPayment()">Accept Payment</button>
    </div>
}
</div>
