@(message: String, colour: String = "info")

@*
 * Component for bootstrap style alert boxes
 *
 * Created by Chris Atkins
 *@
<div class="alert alert-dismissable alert-@colour">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    @message
</div>
