@**
 * Renders link to login page if unauthenticated,
 * otherwise shows username and logout link
 *
 * Created by Chris Atkins
 *@
@()

@import controllers.authorization.Secured

@defining(Secured.getCurrentEmployee()) { employee =>

    @if(employee != null) {
        <li><div class="navbar-text">@employee.getName</div></li>

        <li><a href="/logout">Logout</a></li>
    } else {
        <li><a href="/login">Login</a></li>
    }
}
