@**
 * Helper to render a navbar menu item with active class if in that section
 *
 * Created by Chris Atkins
 *@
@(label: String, path: String)

<li class="@{ "active".when(request.path().contains(path)) }"><a href="@path">@label</a></li>
