@**
 * Reusable panel component to cut out rewriting the bootstrap boilerplate
 *
 * Created by Chris Atkins & James Formica
 *@
@(title: String, panelClass: String = "default", table: Boolean = false, animation: String = "fadeInDown")(content: Html)

<div class="panel panel-@panelClass animated @animation">
    <div class="panel-heading" >
        <div class="panel-title">
            <h4>@title</h4>
        </div>
    </div>

    @if(table) {
        @content

    } else {
        <div class="panel-body">
            @content
        </div>
    }
</div>
