@**
 * Template for the Admin section.
 *
 * Includes AngularJS templates and directives
 *
 * Created by Chris Atkins
 *@
@()

@scripts = {
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/restangular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/toaster.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/checklist-model.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/shared/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/admin/controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/admin/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/admin/app.js")" type="text/javascript"></script>
}

@main(title = "The Quick Stop - Admin", scripts) {
    <div ng-app="adminApp">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
        <div class="row">
            <!-- Top Panel -->
            <div class="col-lg-12" ng-controller="ProductListCtrl">
                @components.panel(title = "Products") {
                    <div class="row">

                        <!-- Product Tables -->
                        <div class="col-lg-9">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Barcode</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Type</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="product in products">
                                        <td>{{product.id}}</td>
                                        <td>{{product.barcode}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.priceInfo}}</td>
                                        <td>{{product.stockInfo}}</td>
                                        <td>{{product.productType | lowercase}}</td>
                                        <td>
                                            <a ng-click="editProduct(product)" href>
                                                <glyphicon icon="pencil"></glyphicon>
                                            </a>
                                            <a ng-click="deleteProduct(product)" href>
                                                <glyphicon icon="trash"></glyphicon>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr ng-hide="products.length">
                                        <td colspan="7">No products</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Product Form -->
                        <div class="col-lg-3">
                            <div class="product-form">
                                <div class="clearfix">
                                    <h4>{{ isPersisted(currentProduct) ? 'Edit' : 'New' }} Product</h4>
                                </div>

                                <form name="productForm" ng-submit="saveProduct(currentProduct)" novalidate role="form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" required
                                                ng-model="currentProduct.name"name="name" />
                                            </div>

                                            <div class="form-group">
                                                <label for="barcode">Barcode</label>
                                                <input type="text" class="form-control" required
                                                ng-model="currentProduct.barcode" name="barcode" />
                                            </div>

                                            <div class="form-group">
                                                <label for="productType">Product Type</label>
                                                <select name="productType" ng-model="currentProduct.productType"
                                                ng-options="productType for productType in productTypes"
                                                class="form-control" required>
                                                </select>
                                            </div>

                                            <div class="form-group" ng-hide="isWeightedProduct">
                                                <label for="pricePerItem">Unit Price (¢ / each)</label>
                                                <input type="number" class="form-control" ng-required="!isWeightedProduct"
                                                       ng-model="currentProduct.pricePerItem" min="0" />
                                            </div>

                                            <div class="form-group" ng-hide="isWeightedProduct">
                                                <label for="quantityInStock">Quantity on hand</label>
                                                <input type="number" class="form-control" ng-required="!isWeightedProduct"
                                                ng-model="currentProduct.quantityInStock" min="0" />
                                            </div>

                                            <div class="form-group" ng-show="isWeightedProduct">
                                                <label for="centsPerKilo">Unit Price (¢ / kg)</label>
                                                <input type="number" class="form-control" ng-required="isWeightedProduct"
                                                ng-model="currentProduct.centsPerKilo" min="0" />
                                            </div>

                                            <div class="form-group" ng-show="isWeightedProduct">
                                                <label for="kilosInStock">Weight on hand (kg)</label>
                                                <input type="number" class="form-control" ng-required="isWeightedProduct"
                                                ng-model="currentProduct.kilosInStock" min="0" />
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" class="btn btn-success form-control" ng-disabled="productForm.$invalid"/>
                                            </div>

                                            <div class="form-group">
                                                <a class="btn btn-default btn-warning form-control" ng-click="resetProduct()">Reset</a>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                }
            </div>
            <!-- /top panel -->
        </div>

        <div class="row">
            <div class="col-lg-6">
                @components.panel(title = "Employees", table = true) {
                    <div ng-controller="EmployeeListCtrl">
                        <!-- Employees Table -->
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Employee Number</th>
                                    <th>Roles</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="employee in employees">
                                    <td>{{employee.id}}</td>
                                    <td>{{employee.name}}</td>
                                    <td>{{employee.employeeNumber}}</td>
                                    <td>
                                        <role-tag role-name="role.name" ng-repeat="role in employee.roles"></role-tag>
                                    </td>
                                    <td>
                                        <a ng-click="editEmployee(employee)" href>
                                            <glyphicon icon="pencil"></glyphicon>
                                        </a>
                                        <a ng-click="deleteEmployee(employee)" href><glyphicon icon="trash"></glyphicon></a>
                                    </td>
                                </tr>

                                <tr ng-hide="employees.length">
                                    <td colspan="5">No employees</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="panel-body">
                            <a class="pull-right" href ng-hide="showForm" ng-click="showForm = true">
                                <glyphicon icon="plus-sign"></glyphicon> Create Employee
                            </a>

                            <a class="pull-right" href ng-show="showForm" ng-click="resetForm()">
                                <glyphicon icon="chevron-up"></glyphicon> Reset
                            </a>

                            <!-- Employee form for creating and updating -->
                            <div class="employee-form" ng-show="showForm">
                                <h4>{{ isPersisted(currentEmployee) ? 'Edit' : 'New'}} Employee</h4>

                                <form ng-submit="saveEmployee(currentEmployee)" novalidate role="form" name="employeeForm">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" ng-model="currentEmployee.name" name="name" class="form-control" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="employeeNumber">Employee number</label>
                                        <input type="text" ng-model="currentEmployee.employeeNumber"
                                               class="form-control" name="employeeNumber" required />
                                    </div>

                                    <div class="form-group" class="clearfix">
                                        <label class="checkbox-inline" ng-repeat="role in roles">
                                            <input type="checkbox" checklist-model="currentEmployee.roles" checklist-value="role"> {{role.name}}
                                        </label>

                                        <input type="submit" class="btn btn-success pull-right" ng-disabled="employeeForm.$invalid"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-6">
                <div ng-controller="CustomerListCtrl">
                    @components.panel(title = "Customers", table = true) {
                        <!-- Customer table -->
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Customer Number</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="customer in customers">
                                    <td>{{customer.id}}</td>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.customerNumber}}</td>
                                    <td>
                                        <a ng-click="editCustomer(customer)" href>
                                            <glyphicon icon="pencil"></glyphicon>
                                        </a>
                                        <a ng-click="deleteCustomer(customer)" href><glyphicon icon="trash"></glyphicon></a>
                                    </td>
                                </tr>

                                <tr ng-hide="customers.length">
                                    <td colspan="4">No customers</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-body">
                            <a class="pull-right" href ng-hide="showForm" ng-click="showForm = true">
                                <glyphicon icon="plus-sign"></glyphicon> Create Customer
                            </a>

                            <a class="pull-right" href ng-show="showForm" ng-click="resetForm()">
                                <glyphicon icon="chevron-up"></glyphicon> Reset
                            </a>

                            <!-- Customer form -->
                            <div class="customer-form" ng-show="showForm">
                                <h4>{{ isPersisted(currentCustomer) ? 'Edit' : 'New'}} Customer</h4>

                                <form ng-submit="saveCustomer(currentCustomer)" novalidate role="form" name="customerForm">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" ng-model="currentCustomer.name" name="name"
                                               class="form-control" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="customerNumber">Customer number</label>
                                        <input type="text" ng-model="currentCustomer.customerNumber"
                                               class="form-control" name="customerNumber" required />
                                    </div>

                                    <div class="form-group" class="clearfix">
                                        <input type="submit" class="btn btn-success pull-right"
                                               ng-disabled="customerForm.$invalid" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
}
