@**
* Template for the Report section.
*
* Includes AngularJS templates and controllers
*
* Created by Shinnawat Viboonsitthicok
*@
@scripts = {
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/restangular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/report/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/report/controllers.js")" type="text/javascript"></script>
}


@main(title = "The Quick Stop - Reporting", scripts) {
    <div ng-app="reportApp">
        <div class="row">
        @components.panel(title = "Report") {
            <div class="col-lg-12" ng-controller="ReportItemListCtrl">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="search-form">
                            <div class="clearfix">
                                <form name="searchForm" ng-click="search(searchForm)" role="form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="startDate">Start Date</label>
                                                <input type="date" class="form-control"
                                                ng-model="searchForm.startDate" id="startDate" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="endDate">End Date</label>
                                                <input type="date" class="form-control" type="date"
                                                ng-model="searchForm.endDate" id="endDate" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="employeeName">Employee Name</label>
                                                <input type="text" class="form-control"
                                                ng-model="searchForm.employeeName" id="employeeName" />
                                            </div>
                                            <div class="form-group">
                                                <label for="customerName">Customer Name</label>
                                                <input type="text" class="form-control"
                                                ng-model="searchForm.customerName" id="customerName" />
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">Product Name</label>
                                                <input type="text" class="form-control"
                                                ng-model="searchForm.productName" id="productName" />
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-success form-control" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-default btn-warning form-control" ng-click="resetSearchForm()">
                                                    Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>SaleId</th>
                                    <th>Employee Number </th>
                                    <th>Employee Name</th>
                                    <th>Customer Number </th>
                                    <th>Customer Name</th>
                                    <th>Product Name</th>
                                    <th>Price</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="reportItem in reportItems">
                                    <td>{{reportItem.saleDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{reportItem.saleId }}</td>
                                    <td>{{reportItem.employeeNumber}}</td>
                                    <td>{{reportItem.employeeName}}</td>
                                    <td>{{reportItem.customerNumber}}</td>
                                    <td>{{reportItem.customerName}}</td>
                                    <td>{{reportItem.item.product.name}}</td>
                                    <td>{{reportItem.salePrice}}</td>
                                </tr>
                                <tr ng-hide="reportItems.length">
                                    <td colspan="7">No Sales</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
}
