// bootstrap overrides see bootstrap/_variables.less
// for full list of overrides

@brand-primary:               #3ea3a7;
@brand-success:               #2bad57;
@brand-info:                  #3d9bba;
@brand-warning:               #e65540;
@brand-danger:                #d44354;

@navbar-height:               60px;
@navbar-inverse-color:        #eee;
@navbar-inverse-bg:           @brand-primary;
@navbar-inverse-border:       darken(@navbar-inverse-bg, 10%);
@navbar-inverse-brand-color:  #fff;
@navbar-inverse-link-color:   #eee;

@panel-default-heading-bg:    @brand-primary;
@panel-default-border:        @panel-default-heading-bg;

@state-success-text:          darken(@brand-success, 5%);
@state-danger-text:           darken(@brand-danger, 5%);

@font-family-sans-serif:      'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
