// Styles specific to the sales section
// Created by James Formica

@import "_overrides";

@sale-highlight: lighten(@brand-primary, 50%);

.dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 20;
}

table {
  td {
    vertical-align: middle !important;
  }
}

.align-right {
    text-align: right;
}

.product-type {
    color: darken(@sale-highlight, 50%);
    padding: 15px;
    border-bottom: 2px solid @sale-highlight;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.product-type:hover {
    background: #F2F5FF;
}

.product-type-selected {
    background: @sale-highlight;
    color: @gray-dark;
}

.product-type-selected:hover {
    background: @sale-highlight;
}

.product-list {
    padding-top: 20px;
    background: @sale-highlight;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product {
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    border: 1px solid @sale-highlight;
    padding: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
    background: white;


    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.product:hover {
    background: darken(@sale-highlight, 5%);
}

.product:active {
    background: darken(@sale-highlight, 10%);
}

.product p:first-child {
    font-weight: bold;
}

// Inputs

table.products-table {
    margin-bottom: 0;

    thead {
      th:first-child {
          border-top-left-radius: 4px;
      }
      th:last-child {
          border-top-right-radius: 4px;
      }
  }

  input[type="number"] {
      text-align: right;
      width: 60px;
      padding-right: 2px;
  }
}


table.total {
    text-align: right;

    td:first-child {
        font-weight: bold;
    }
}

table.sale-info {
  margin-bottom: 20px;

  td:nth-child(odd) {
    font-weight: bold;
  }
  td {
    border-top: 0 !important;
    padding: 4px !important;
  }
}

.sale-options {
    text-align: right;

    button:first-child {
        margin-right: 15px;
    }
}

// Error Modal
.error-container {
    position: absolute;
    width: 300px;
    background: white;
    top: 20%;
    left: 40%;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    z-index: 100;
}

.payment-container {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    z-index: 200;
    transition: 0.5s;
}

.payment-type-wrapper {
    padding: 20px;
    margin: 10px 0 10px 0;
}

.payment-form-control {
    text-align: right;
    display: inline-block !important;
}

button.card-type {
  margin-right: 4px;
}
