// Application wide styles
// Created by Chris Atkins
@import "bootstrap/bootstrap";
@import (less) "animate.css";
@import (less) "toaster.css";
@import "_overrides";
@import "_sales";

@fancy-font-face: pacifico, sans-serif;
@light-weight: 200;

@light-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
@heavy-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

body {
  background: url("small-crackle-bright.png");
}

.shadow() {
  text-shadow: @light-shadow;
  &:hover, &.active {
    text-shadow: @heavy-shadow;
  }
}

.center {
  float: none;
  margin: 0 auto;
}

.navbar-text {
  margin-top: 14px;
  margin-bottom: 0;
  text-shadow: @heavy-shadow;
  font-weight: @light-weight;
  font-family: @fancy-font-face;
  font-size: 1.6em;
}

.navbar-inverse {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-bg; @end-color: lighten(@navbar-inverse-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.25));
  }

  li > a {
    text-transform: uppercase;
    font-weight: @light-weight;
    font-size: 1.3em;
    .shadow();
  }

  .navbar-brand {
    text-shadow: @heavy-shadow;
    font-family: @fancy-font-face;
    font-size: 2em;
  }

}

.panel-default {
  .panel-title h4 {
    text-transform: uppercase;
    text-shadow: @light-shadow;
    font-size: 1.4em;
    color: white;
  }
}

.panel {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);;
}

.label {
  text-transform: uppercase;
}

// offset for the navbar height
body {
  padding-top: @navbar-height + 20px;
}

// Validation
.ng-dirty {
  &.ng-valid{
    border-color: @state-success-text;
  }

  &.ng-invalid{
    border-color: @state-danger-text;
  }
}

table {
  thead tr {
    background-color: lighten(@brand-primary, 50%);;
  }
}

p.groupMembers {
  font-size: 1.2em;
  font-weight: 300;
  color: #348a8d;
  -vendor-animation-delay: 2s;
  span.fancy {
    font-family: pacifico, sans-serif;
    font-size: 1.3em;
    color: #333;
  }
}
