@(message: String)

@main("The Quick Stop") {
    <div class="row">
        <div class="text-center well col-lg-8 center">
            <h2>Welcome to <span style="font-family: pacifico, sans-serif;">The Quick Shop</span> support system</h2>
            <br/>
            <br/>
            <br/>
            <h3><i>brought to you by...</i></h3>
            <br/>
            <p class="groupMembers animated fadeInRight"><span class="fancy">Chris Atkins</span> &nbsp;&nbsp; - the beard with brains @components.icon("flash")</p>
            <p class="groupMembers animated fadeInLeft"><span class="fancy">Marlon Atton</span> &nbsp;&nbsp; - the shadow @components.icon("user")</p>
            <p class="groupMembers animated fadeInRight"><span class="fancy">James Formica</span> &nbsp;&nbsp; - the man in the suit @components.icon("briefcase"), and</p>
            <p class="groupMembers animated fadeInLeft"><span class="fancy">Shinnawat Viboonsitthichok</span> &nbsp;&nbsp; - he who never sleeps @components.icon("eye-open")</p>
        </div>
    </div>
}
