@(form: Form[Application.Login])

@main("The Quick Stop") {

    <div class="row">
        <div class="col-md-4 center">

            @components.panel(title = "Sign in", animation = if (form.hasErrors()) "shake" else "bounceInDown") {
                @helper.form(routes.Application.authenticate) {
                    <div class="form-group">
                        <input type="text" class="form-control" name="employeeNumber"
                               placeholder="employee Number" required autofocus
                               value="@form("employeeNumber").value()">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"
                               placeholder="password... try 'rmit'" required
                               name="password">
                    </div>

                    @if(form.hasGlobalErrors) {
                        <p class="text-danger">
                        @form.globalError.message
                        </p>
                    }

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                }
            }
        </div>
    </div>

}
