
@scripts = {
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-sanitize.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/restangular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sales/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sales/controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/common/APIFactory.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sales/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sales/filters.js")" type="text/javascript"></script>
}



@main(title = "The Quick Stop - Sales", scripts) {
    <div ng-app="salesApp" ng-controller="ProductListCtrl" ng-cloak class="ng-cloak"  ng-init="saleState = getSaleEntryState()" style="overflow-x: hidden">

        <div class="dark-screen" ng-show="saleState != getSaleEntryState()"></div>

        <div class="row">

            @sales.partials.error()
            @sales.partials.payment()

            @sales.partials.sale()
            @sales.partials.products()

        </div>
    </div>


}
